/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Başlıklar */
h1, h2, h3 {
    color: #444;
    text-align: center;
    margin-bottom: 20px;
}

/* Genel içerik stili */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Butonlar */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Linkler */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    color: #45a049;
    text-decoration: underline;
}
